<% include partials/header %>

  <div class="jumbotron">
  <h1 class="display-4">Blog Nation</h1>
  <p class="lead">A blog website, where you can read/post blogs on any topic you'd like. So get ready to explore.</p>
  
</div>


  <div id = "startbutton">
	  <a  href="/blogs" role="button" id= ""> <button class="massive ui inverted red button"><i class="angle double right icon"></i>  Get Started</button></a>

</div>
  

<% include partials/footer %>